* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

main {
  margin-top: 81px;
}

.texto-introductorio {
  padding: 1rem 10px;
}

.texto-introductorio p {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 500;
}

.texto-introductorio h2 {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (min-width: 1200px) {
  .texto-introductorio {
    padding: 1rem 0;
  }
  main {
    margin-top: 51px;
  }
  .contenedor-maximo-desktop {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

h1 {
  font-size: 27px;
  font-weight: 300;
}

header {
  background-color: black;
  height: 81px;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.contenedor-header {
  display: flex;
  flex-direction: column;
  height: 61px;
  justify-content: space-between;
}

.barra-de-navegacion {
  text-align: center;
  display: flex;
  justify-content: space-between;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}

.barra-de-navegacion li {
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  font-weight: bold;
}

.boton-busqueda {
  display: none;
}

.boton-busqueda input {
  border-radius: 7px;
  border: 0;
}

.boton-busqueda input::placeholder {
  color: black;
  position: absolute;
  left: 10px;
}

@media screen and (min-width: 1200px) {
  header {
    background-color: black;
    height: 51px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .contenedor-header {
    height: 51px;
    display: grid;
    grid-template-columns: 1fr 423px 187px;
    align-items: center;
  }
  .barra-de-navegacion {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .barra-de-navegacion li {
    font-size: 15px;
    text-align: center;
  }
  .boton-busqueda {
    display: inline-block;
    margin-left: auto;
  }
}
footer {
  background-color: black;
  height: 175px;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-listas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.footer-social li {
  text-align: end;
}

.footer-titulo {
  font-weight: bold;
}

.copiright {
  width: 100%;
  text-align: end;
  padding: 10px;
  font-size: 10px;
  font-weight: 500;
}

@media screen and (min-width: 1200px) {
  footer {
    display: block;
  }
  .footer-listas {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 0;
  }
  .footer-social li {
    text-align: left;
  }
  .footer-info {
    width: 305px;
  }
  .footer-social {
    width: 305px;
  }
  .copiright {
    width: 100%;
    text-align: left;
    padding: 0;
    font-size: 10px;
  }
}
.index-main {
  display: grid;
  grid-template-columns: 1fr;
}

.index-imagen {
  height: auto;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
}

.index-imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.index-texto {
  padding: 1rem 10px;
  font-family: "Roboto Serif", serif;
}

.index-texto p {
  margin-bottom: 5px;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 500;
}

.que-hacemos {
  font-size: 1.5rem;
  font-weight: 500;
}

.index-titulo {
  padding: 0.7rem 0;
  font-size: 2.5rem;
}

@media screen and (min-width: 1200px) {
  .index-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .index-texto {
    padding: 2rem 10px;
  }
  .index-titulo {
    padding: 0.7rem 0;
  }
}
.servicios-prestacion-parrafo p {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}

.servicios-prestacion-parrafo h3 {
  font-family: "Roboto Serif", serif;
  font-size: 1.3rem;
  font-weight: 500;
}

.servicios-prestacion-contenedor {
  padding: 10px;
  font-size: small;
}

@media screen and (min-width: 1200px) {
  .servicios-prestacion-contenedor {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
    align-items: center;
  }
  .servicios-prestacion-parrafo {
    padding-left: 10px;
  }
}
.trabajos-proyecto-contenedor {
  padding: 10px;
  font-size: small;
}

.trabajos-proyecto-parrafo h3 {
  font-family: "Roboto Serif", serif;
  font-size: 1.3rem;
  font-weight: 500;
}

.trabajos-proyecto-parrafo p {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}

@media screen and (min-width: 1200px) {
  .trabajos-proyecto-contenedor {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
    align-items: center;
    border: 1px solid black;
  }
  .trabajos-proyecto-parrafo {
    padding-left: 10px;
  }
}
.clientes-logo-contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .clientes-logo-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
.contato-main {
  display: grid;
  grid-template-columns: 1fr;
}

.iframe-mapa {
  width: 100%;
  object-fit: cover;
}

.main-texto {
  order: 1;
}

.contacto-mapa {
  order: 3;
  padding: 10px 10px;
}

.contacto-formulario {
  order: 2;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.contacto-formulario div {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.contacto-formulario div label {
  font-size: medium;
}

.contacto-formulario div input {
  font-size: small;
  height: 25px;
  padding: 3px;
}

.contacto-formulario div textarea {
  font-size: small;
  padding: 3px;
  height: 300px;
}

.contacto-enviar {
  width: 100px;
  align-self: flex-end;
}

::placeholder {
  font-family: Roboto, sans-serif;
}

@media screen and (min-width: 1200px) {
  .contato-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .iframe-mapa {
    width: 100%;
    object-fit: cover;
  }
  .main-texto {
    order: 1;
    grid-column: span 2;
  }
  .contacto-mapa {
    order: 2;
    padding: 10px 0;
  }
  .contacto-formulario {
    order: 3;
    padding: 10px 0;
    margin-left: 50px;
    margin-right: 50px;
  }
  .contacto-formulario div textarea {
    height: 450px;
  }
}

/*# sourceMappingURL=styles.css.map */
