$color-primario: #161616;
$color-secundario: #60ff7a;
$color-terciario: #b3fdbf;
$color-texto-primario: black;
$color-texto-secundario: white;

$fuente-principal: 'Roboto', sans-serif;
$fuente-mono: 'Roboto Mono', sans-serif;
$fuente-serif: 'Roboto Serif', sans-serif;
$fuente-flex: 'Roboto Flex', sans-serif;



// RECETEO DE CSS

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: $color-texto-secundario;
}

ul {
   list-style: none;
}

img {
   max-width: 100%;
}


// GENERAL
body {
   font-family: $fuente-principal;
   background: rgb(255, 255, 255);
   background: radial-gradient(circle, rgba(255, 255, 255, 1) 20%, rgb(206, 205, 205) 100%);
}

main {
   margin-top: 81px;
}



// MEDIA QUERI DESCKTOP
@media screen and (min-width: 1200px) {
   main {
      margin-top: 51px;
   }

   .contenedor-maximo-desktop {
      max-width: 1220px;
      margin-left: auto;
      margin-right: auto;
   }

}