.index-main {
   display: grid;
   grid-template-columns: 1fr;
}

.index-imagen {
   height: auto;
   max-width: 610px;
   margin-left: auto;
   margin-right: auto;
}

.index-imagen img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.index-texto {
   padding: 1rem 10px;
   font-family: $fuente-serif;
}

.index-texto p {
   margin-bottom: 5px;
   font-family: $fuente-mono;
   font-size: 1rem;
   font-weight: 500;
}

.que-hacemos {
   font-size: 1.5rem;
   font-weight: 500;
}

.index-titulo {
   padding: 0.7rem 0;
   font-size: 2.5rem;
}

// MEDIA QUERI DESCKTOP
@media screen and (min-width: 1200px) {
   .index-main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
   }

   .index-texto {
      padding: 2rem 10px;
   }

   .index-titulo {
      padding: 0.7rem 0;
   }

   .index-imagen {
      margin-top: 4px;
   }

   .index-imagen img {
      border: 0px solid $color-primario;
      border-radius: 5px;
      overflow: hidden;
   }
}