.servicios-prestacion-parrafo p {
    font-family: $fuente-mono;
    font-size: 0.9rem;
}
.servicios-prestacion-parrafo h3 {
    font-family: $fuente-serif;
    font-size: 2rem;
    font-weight: 600;
}

.servicios-prestacion-contenedor {
    margin: 10px 0;
    padding: 10px;
    font-size: small;
}

// MEDIA QUERI DESCKTOP
@media screen and (min-width: 1200px) {
    .servicios-prestacion-contenedor {
        background-color: white;
        padding: 0;
        margin: 20px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 1px solid rgb(201, 201, 201);
        border-radius: 5px;
        overflow: hidden;
        box-shadow: -3px 3px 10px 5px rgb(213, 213, 213);
    }

    .servicios-prestacion-parrafo {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        margin-top: 3rem;
    }
}