.servicios-prestacion-parrafo {
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
}

.servicios-prestacion-parrafo p {
    font-family: $fuente-mono;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}
.servicios-prestacion-parrafo h3 {
    font-family: $fuente-serif;
    font-size: 2rem;
    font-weight: 600;
}

.servicios-prestacion-contenedor {
    margin: 10px 0;
    padding: 10px;
    font-size: small;
    display: grid;
}

.servicios-prestacion-contenedor img {
    margin-left: auto;
    margin-right: auto;
}

// MEDIA QUERI DESCKTOP
@media screen and (min-width: 1200px) {
    .servicios-prestacion-contenedor {
        background: rgb(255, 255, 255);
        background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(212, 212, 212, 0.5) 67%, rgba(255, 255, 255, 1) 100%);
        padding: 0;
        margin: 20px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
        border: 1px solid rgb(218, 218, 218);
        box-shadow: -3px 3px 10px 5px rgb(213, 213, 213);
    }

    .servicios-prestacion-parrafo {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }
}