.servicios-prestacion-parrafo p {
    font-family: $fuente-mono;
    font-size: 0.9rem;
}
.servicios-prestacion-parrafo h3 {
    font-family: $fuente-serif;
    font-size: 2rem;
    font-weight: 600;
}

.servicios-prestacion-contenedor {
    padding: 10px;
    font-size: small;
}

// MEDIA QUERI DESCKTOP
@media screen and (min-width: 1200px) {
    .servicios-prestacion-contenedor {
        background-color: white;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px 0;
        align-items: center;
        border: 1px solid $color-primario;
        border-radius: 5px;
        overflow: hidden;
    }

    .servicios-prestacion-parrafo {
        padding-left: 10px;
        padding-right: 10px;
    }
}