.trabajos-proyecto-contenedor {
    padding: 10px;
    font-size: small;
}

.trabajos-proyecto-parrafo h3 {
    font-family: $fuente-serif;
    font-size: 1.3rem;
    font-weight: 500;
}

.trabajos-proyecto-parrafo p {
    font-family: $fuente-mono;
    font-size: 1rem;
}


// MEDIA QUERI DESCKTOP
@media screen and (min-width: 1200px) {
    .trabajos-proyecto-contenedor {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px 0;
        align-items: center;
        border: 1px solid $color-primario;
    }

    .trabajos-proyecto-parrafo {
        padding-left: 10px;
    }
}